doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  header
    a(href="/") main page
    a(href="/users") users page
    a(href="/products") products page
  block content
